@namespace TodoApp.Components
@using System.ComponentModel;
@using System.Linq.Expressions;
@using TodoApp.Data;
@using TodoApp.Data.Sorting;

@if (String.IsNullOrWhiteSpace(Column.ColumnHeading))
{
    <th></th>
}
else
{
    <th @onclick="@(async _ => await SortAsync(Column))" class="todo-sortable">
        @if (CurrentSort.Column == Column)
        {
            string iconName = CurrentSort.Direction == ListSortDirection.Ascending ? "sort-ascending" : "sort-descending";
            <span class="oi oi-@iconName" title="icon name" aria-hidden="true"></span>
        }
        @(ColumnHeader ?? Column.ColumnHeading)
    </th>
}

@code {
    [Parameter]
    public string ColumnHeader { get; set; }

    [Parameter]
    public TodoItemSortOrder Column { get; set; }

    [Parameter]
    public Func<TodoItemSortOrder, Task> SortAsync { get; set; }

    [Parameter]
    public (TodoItemSortOrder Column, ListSortDirection Direction) CurrentSort { get; set; }
}